body {
	font-size: 12px;
}

.navbar {
	height: 45px;
    padding: 3px 10px;
    margin: 0px 0px 0px;
    background: #fff;
    border-bottom: 5px solid rgba(192, 1, 12, 1);
    border-radius: 0;
    box-shadow: inset 1px 1px 20px rgba(192, 1, 12, 0.2);
}

.navbar-brand {
	padding: 0;
	height: 40px;
}

.navbar-top-links {
	margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li a {
    padding: 10px;
    height: 40px;
}

#login-info-container{
	margin-top: 10px;
}

.login-info-panel {
	padding-top: 0;
	padding-bottom: 0;
}

.login-info-table {
	margin-bottom: 0;
}

#left-menu-container {
	overflow-y: auto;
}


/************************************
Content
*************************************/
.container-fluid {
    box-shadow: inset 1px 1px 20px rgba(192, 1, 12, 0.2);
}

#page-content {
	border-left: 2px solid #c0010c;
}

#content-container {
	overflow-y: auto;
}

.page-header {
	padding-bottom: 9px;
    margin: 20px 0 20px;
    border-bottom: 0.1px solid rgba(192, 1, 12, 1);
}

.margin-left-20px {
	margin-left: 20px;
}

.row-pad {
    height: 20px;
}

table.dataTable th.dt-right,
table.dataTable td.dt-right {
  text-align: right;
}

.dataTables_wrapper .dataTables_length {
	float: left;
	margin-right:20px;
    font-size: 10px;
    font-style: italic;
}

.dataTables_wrapper .dataTables_length select.input-sm {
	height: 25px;
	line-height: 25px;
	font-size: 10px;
    font-style: normal;
}

.dataTables_wrapper .dt-buttons .btn {
    font-size: 10px;
    padding: 5px 12px;
}

.dataTables_wrapper .dataTables_filter {
	float: right;
    font-size: 10px;
    font-style: italic;
}

.dataTables_wrapper .dataTables_filter .input-sm {
	height: 25px;
	line-height: 25px;
	font-size: 10px;
    font-style: normal;
}

.dataTables_wrapper .dataTables_info {
	clear: both;
    float: left;
    font-size: 10px;
    font-style: italic;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    padding-top: 0.25em;
    font-size: 9px;
}

.dataTables_wrapper .dataTables_empty {
    font-style: italic;
}

.dataview-val {
	margin-bottom: 5px;
}

