.navbar {
	height:40px;
    padding: 5px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
	padding: 0;
	height: 40px;
}

.navbar-top-links {
	margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li a {
    padding: 10px;
    height: 40px;
}

.login-info-panel {
	padding-top: 0;
	padding-bottom: 0;
}

.login-info-table {
	margin-bottom: 0;
}

#accordion-menu-container {
	margin-top: 50px;
}


/************************************
Content
*************************************/
.container-fluid {
	margin-top: 10px;
}

.page-content {
	margin-top: 50%;
	margin-left: 18%;
	box-shadow: -11px 1px 3px rgba(0, 0, 0, 0.1);
}

.page-header {
	padding-bottom: 9px;
    margin: 10px 0 20px;
    border-bottom: 1px solid #eee;
}

.row-pad {
    height: 20px;
}

table.dataTable th.dt-right,
table.dataTable td.dt-right {
  text-align: right;
}

.dataTables_wrapper .dataTables_length {
	float: left;
	margin-right:20px;
}

.dataTables_wrapper .dataTables_filter {
	float: right;
}

.dataTables_wrapper .dataTables_info {
	clear: both;
    float: left;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    padding-top: 0.25em;
}